apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Values.meta.namespace }}
  name: {{ .Values.meta.name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "filebrowser.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "filebrowser.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        runAsUser: 0         # 让整个 Pod 下所有容器都用 root
        runAsNonRoot: false  # 确保不被 Admission 阻止（有些集群需要）
      containers:
        - name: {{ .Values.meta.name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          volumeMounts:
            - name: {{ .Values.meta.name }}-volume-cm
              mountPath: /config/settings.json
              subPath: filebrowser
            {{- if .Values.volume.srv }}
            - name: {{ .Values.meta.name }}-volume-srv
              mountPath: "/srv"
            {{ end }}
            {{- if .Values.volume.database }}
            - name: {{ .Values.meta.name }}-volume-database
              mountPath: "/database"
            {{ end }}
      volumes:
        - name: {{ .Values.meta.name }}-volume-cm
          configMap:
            name: {{ .Values.meta.name }}
        {{- if .Values.volume.srv }}
        - name: {{ .Values.meta.name }}-volume-srv
          hostPath:
            path: {{ .Values.volume.srv }}
            type: DirectoryOrCreate
        {{ end }}
        {{- if .Values.volume.database }}
        - name: {{ .Values.meta.name }}-volume-database
          hostPath:
            path: {{ .Values.volume.database }}
            type: DirectoryOrCreate
        {{ end }}