replicaCount: 1

meta:
  namespace: default
  name: filebrowser

image:
  repository: filebrowser/filebrowser
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8080
  targetPort: 80
  # with type = NodePort
  # nodePort: 8080

ingress:
  enable: false
  baseURL: "/"

volume: {}
  # static serve
  # srv: "/var/lib/filebrowser/srv"
  # database: "/var/lib/filebrowser/database"